body {
  padding: 0;
  margin: 0;
  background: url(../images/bg.png);
}

ul.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  position: fixed;
  top: 0;
}

ul.menu li {
  color: white;

  width: auto;
  display: table-cell;
  vertical-align: middle;
  position: fixed;
  font-size:4.5em;
  left: -1000px;

  box-shadow: 0 1px 3px #666666;
  -webkit-box-shadow: 0 1px 3px #666666;
  -moz-box-shadow: 0 1px 3px #666666;
}

.menu a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0 0.75em;
}

.menu-active {
  cursor: default;
  left: 0 !important;
}

.menu-active a {
  cursor: default;
}

.pink { background: #DD79C5; }
.purple { background: #683199; }
.yellow { background: #F2D300; }
.red { background: #CD3029; }
.blue { background: #109AE3; }
.brown { background: #6E4409; }
.orange { background: #E9A500; }
.green { background: #55B854 ; }


.contents {
  padding-top: 30px;
  padding-left: 30px;
  font-family: 'Roboto', sans-serif;
}
